# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=""
NEXTAUTH_URL=""

# Next Auth Azure Provider
AZURE_AD_CLIENT_ID: ""
AZURE_AD_CLIENT_SECRET: ""
AZURE_AD_TENANT_ID: ""

# Turso
DATABASE_URL=""
DATABASE_AUTH_TOKEN=""

# Nodemailer
GMAIL=""
GMAIL_PASSWORD=""
TOMAIL=""

# Vercel Blob Storage
BLOB_READ_WRITE_TOKEN=""